@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

img,
iframe {
  height: 100px;
  width: 100px; }

body {
  background: #888888;
  background: linear-gradient(0deg, #888888 0%, #dfdeda 100%); }

/* estilo de bloques */
.block-styles {
  border-radius: 5px;
  background-color: #faf0e8;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); }

/* menu nav de bootstrap page Sofa */
.navbar {
  padding: 0;
  background-color: black;
  height: 114px;
  border-bottom: 10px solid gray;
  align-items: flex-end; }

.logo-b {
  width: auto;
  height: 100%;
  margin-left: 1.5%; }

.navbar-collapse {
  flex-direction: row-reverse;
  background-color: black;
  z-index: 1; }

.nav-item {
  margin: 15px; }
  .nav-item a {
    color: #D1AF94;
    padding: 10px;
    font-size: 22px; }

.carousel-item img {
  width: 60%;
  margin-left: 20%;
  object-fit: cover;
  object-position: center;
  height: 250px;
  margin-bottom: 30px; }

.gal {
  background-size: cover;
  background-position: center;
  color: #000000;
  text-shadow: 0 0 5px black;
  text-align: end;
  padding: 20px;
  margin: 0;
  font-size: 50px; }

.item {
  height: 200px;
  border: 2px solid black; }

.item-h:hover {
  transform: scale(0.99);
  transition-duration: .5s;
  box-shadow: 0 0 5px #000000; }

.item1 {
  background-image: url(../images/sala-libano.jpg);
  background-size: cover;
  background-position: center; }

.item2 {
  background-image: url(../images/sala-romina.jpg);
  background-size: cover;
  background-position: center; }

.item3 {
  background-image: url(../images/sala.jpg);
  background-size: cover;
  background-position: center; }

.item4 {
  background-image: url(../images/sala-libano.jpg);
  background-size: cover;
  background-position: center; }

.item5 {
  background-image: url(../images/sala-romina.jpg);
  background-size: cover;
  background-position: center; }

.item6 {
  background-image: url(../images/sala.jpg);
  background-size: cover;
  background-position: center; }

.item7 {
  background-image: url(../images/sala-libano.jpg);
  background-size: cover;
  background-position: center; }

.item8 {
  background-image: url(../images/sala-romina.jpg);
  background-size: cover;
  background-position: center; }

.jumbotron {
  background-size: cover;
  background-position: center; }
  .jumbotron h1 {
    color: #000000;
    text-shadow: 0 0 5px black;
    font-size: 60px; }

/* aqui empieza el menu de nav y el head */
a {
  text-decoration: none;
  color: #D1AF94;
  transition: .5s; }
  aactive {
    text-decoration: none;
    color: #D1AF94;
    transition: .5s; }
  ahover {
    color: white;
    text-decoration: underline; }

.main-page {
  color: #dc955b;
  text-decoration: underline;
  font-size: 22px; }

.fx-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: flex-end;
  border-bottom: 10px solid gray; }

.logo {
  height: 100%;
  margin-left: 20%; }

.fx-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 30px; }
  .fx-ul li {
    margin: 20px;
    font-size: 20px; }

/* aqui inicia el main home */
@media screen and (min-width: 321px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 610px; }
  .home-bg img {
    width: 100%;
    height: 610px;
    object-fit: cover; }
  .home-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .home-t div {
      width: 100%;
      height: 300px;
      padding: 50px 30px 0px 30px; }
      .home-t div h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        font-size: 75px;
        border-top: solid 2px black;
        border-bottom: solid 2px black; }
  .home p {
    display: flex;
    flex-direction: column;
    height: 120px;
    font-size: 30px;
    align-items: center; }
    .home p a {
      color: #99806b;
      margin-top: 10px;
      font-size: 25px; } }

@media screen and (max-width: 320px) {
  .fx-header {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 2fr;
    justify-content: center; }
  .logo {
    margin: 0 11.5px; }
  .fx-ul {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    text-align: center; }
    .fx-ul li {
      margin: 5px; }
  .home {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-content: center; }
    .home p {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      align-items: center; }
      .home p a {
        margin-top: 7px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #99806b; }
  .home-bg {
    grid-row: 2; }
    .home-bg img {
      width: 100%;
      height: 159px;
      object-fit: cover; }
  .home-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .home-t div {
      width: 100%;
      padding: 10px 15px 10px 15px; }
      .home-t div h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-top: solid 2px black;
        border-bottom: solid 2px black; } }

@media screen and (min-width: 321px) {
  .tables-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto; }
    .tables-grid .t-1 {
      margin: 5%;
      height: 50%; }
      .tables-grid .t-1 iframe {
        margin: 10px;
        width: 96%;
        height: 310px;
        border-radius: 5px; }
      .tables-grid .t-1 p {
        padding: 30px;
        text-align: justify;
        font-size: 20px; }
    .tables-grid .t-2 {
      margin: 5%; }
      .tables-grid .t-2 .art-margin {
        margin-bottom: 20px; }
      .tables-grid .t-2 article {
        height: auto; }
        .tables-grid .t-2 article img {
          width: 100%;
          height: auto; }
        .tables-grid .t-2 article p {
          padding: 30px;
          text-align: justify;
          font-size: 20px; } }

@media screen and (max-width: 320px) {
  .tables-grid {
    display: grid;
    grid-template-rows: 1fr 2fr; }
    .tables-grid .t-1 {
      margin: 5%;
      height: auto; }
      .tables-grid .t-1 iframe {
        margin: 10px;
        width: 94%;
        height: 150px;
        border-radius: 5px; }
      .tables-grid .t-1 p {
        padding: 10px;
        text-align: justify;
        font-size: 20px; }
    .tables-grid .t-2 {
      margin: 5%; }
      .tables-grid .t-2 .art-margin {
        margin-bottom: 20px; }
      .tables-grid .t-2 article {
        height: auto; }
        .tables-grid .t-2 article img {
          width: 100%;
          height: auto; }
        .tables-grid .t-2 article p {
          padding: 30px;
          text-align: justify;
          font-size: 20px; } }

/* aqui empieza main about us */
@media screen and (min-width: 321px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .about-grid .au1 {
      margin: 40px;
      height: auto; }
      .about-grid .au1 .au1-img {
        width: 100%;
        padding-top: 20px; }
        .about-grid .au1 .au1-img img {
          width: 100%;
          height: auto; }
      .about-grid .au1 .au1-img2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px; }
        .about-grid .au1 .au1-img2 img {
          width: 49.5%;
          height: auto;
          object-fit: cover; }
    .about-grid .au2 {
      margin: 40px 40px 40px 0;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 10px; }
      .about-grid .au2 .au2-flex {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr; }
        .about-grid .au2 .au2-flex div {
          width: 100%; }
          .about-grid .au2 .au2-flex div img {
            padding: 30px 0 30px 0;
            width: 100%;
            height: auto; }
        .about-grid .au2 .au2-flex p {
          text-align: justify;
          font-size: 20px;
          padding: 30px 10px 30px 10px; }
      .about-grid .au2 .au3-flex {
        display: flex; }
        .about-grid .au2 .au3-flex table {
          width: 54%;
          border-collapse: collapse;
          margin: 5px;
          font-size: 15px; }
        .about-grid .au2 .au3-flex img {
          width: 40%;
          margin: 1.5%;
          height: auto; } }

@media screen and (max-width: 320px) {
  .about-grid {
    display: grid;
    grid-template-rows: 410px 2fr; }
    .about-grid .au1 {
      margin: 10px;
      height: 400px; }
      .about-grid .au1 .au1-img {
        width: 100%;
        padding-top: 20px; }
        .about-grid .au1 .au1-img img {
          width: 100%;
          height: auto; }
      .about-grid .au1 .au1-img2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px; }
        .about-grid .au1 .au1-img2 img {
          width: 49.5%;
          height: auto;
          object-fit: cover; }
    .about-grid .au2 {
      margin: 10px;
      display: grid;
      grid-template-rows: 600px 1fr;
      gap: 10px; }
      .about-grid .au2 .au2-flex {
        height: 600px;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr 2fr; }
        .about-grid .au2 .au2-flex div {
          width: 100%; }
          .about-grid .au2 .au2-flex div img {
            padding: 30px 0 30px 0;
            width: 100%;
            height: auto; }
        .about-grid .au2 .au2-flex p {
          text-align: justify;
          font-size: 20px;
          padding: 30px 10px 30px 10px; }
      .about-grid .au2 .au3-flex {
        display: grid;
        grid-template-rows: 1fr 1fr; }
        .about-grid .au2 .au3-flex table {
          width: 96%;
          border-collapse: collapse;
          margin: 5px;
          font-size: 15px; }
        .about-grid .au2 .au3-flex img {
          width: 96%;
          padding: 20px;
          margin: 1.5%;
          height: auto; } }

th,
td {
  border: solid 1px black;
  text-align: left; }

th {
  background-color: #dc955b; }

/* aqui inicia main services */
@media screen and (min-width: 321px) {
  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px; }
    .services-grid .s1 {
      margin: 20px;
      width: 100%; }
      .services-grid .s1 iframe {
        width: 90%;
        height: 100%; }
    .services-grid .s2 {
      margin: 20px 20px 20px 0; }
      .services-grid .s2 img {
        padding: 10px; }
      .services-grid .s2 .s2-subtitle {
        font-size: 35px; }
      .services-grid .s2 p {
        font-size: 20px;
        padding: 15px;
        text-align: justify; } }

@media screen and (max-width: 320px) {
  .services-grid {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 1500px; }
    .services-grid .s1 {
      margin: 15px;
      width: 288px;
      height: 250px; }
      .services-grid .s1 iframe {
        width: 100%;
        height: 100%; }
    .services-grid .s2 {
      margin: 0px 15px 15px 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .services-grid .s2 img {
        padding: 10px;
        display: inline-block;
        position: relative; }
      .services-grid .s2 .s2-subtitle {
        display: inline-block;
        font-size: 30px;
        position: relative; }
      .services-grid .s2 p {
        font-size: 20px;
        padding: 15px;
        text-align: justify; } }

/* aqui inicia el main contact */
@media screen and (min-width: 321px) {
  .form-contact {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 30px; }
    .form-contact h4 {
      font-size: 22px;
      margin-bottom: 20px; }
    .form-contact button {
      width: 100%;
      background-color: #D1AF94;
      border: none;
      padding: 12px;
      margin: 16px 0; }
  .data {
    width: 100%;
    background-color: #d6d6d6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px; }
  .data-radio {
    margin-bottom: 16px; } }

@media screen and (max-width: 320px) {
  .form-contact {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 30px; }
    .form-contact h4 {
      font-size: 22px;
      margin-bottom: 20px; }
    .form-contact button {
      width: 100%;
      background-color: #D1AF94;
      border: none;
      padding: 12px;
      margin: 16px 0; }
  .data {
    width: 100%;
    background-color: #d6d6d6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px; }
  .data-radio {
    margin-bottom: 16px; } }

/* aqui inicia el footer */
.fx-footer {
  color: black;
  background-color: #97918c;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px; }
  .fx-footer a {
    color: #e2c0a4; }

@media screen and (max-width: 600px) {
  /* aqui se hace el media query de footer */
  .fx-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px; }
    .fx-footer a {
      text-decoration: underline; }
    .fx-footer p {
      margin-top: 5px; } }
