@import "./base/typo";
@import "./base/reset";
@import "./utilities/variables";
@import "./themes/theme";
@import "./vendors/bootstrap";
@import "./components/jumbo";
@import "./layout/navegation";
@import "./views/tables";
@import "./views/about";
@import "./views/services";
@import "./views/contact";
@import "./views/footer";


/* aqui inicia el main home */

@media screen and (min-width: 321px) {

    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 610px;
    }

    .home-bg {
        img {
            width: 100%;
            height: 610px;
            object-fit: cover;
        }
    }

    .home-t {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div {
            width: 100%;
            height: 300px;
            padding: 50px 30px 0px 30px;

            h1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                font-size: 75px;
                border-top: solid 2px black;
                border-bottom: solid 2px black;
            }
        }
    }

    .home {

        p {
            display: flex;
            flex-direction: column;
            height: 120px;
            font-size: 30px;
            align-items: center;

            a {
                color: #99806b;
                margin-top: 10px;
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .fx-header {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr 2fr;
        justify-content: center;
    }

    .logo {
        margin: 0 11.5px;
    }

    .fx-ul {
        margin: 0;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        text-align: center;

        li {
            margin: 5px;
        }
    }

    .home {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        justify-content: center;

        p {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            align-items: center;

            a {
                margin-top: 7px;
                margin-bottom: 20px;
                font-size: 15px;
                color: #99806b;
            }
        }
    }

    .home-bg {
        grid-row: 2;

        img {
            width: 100%;
            height: 159px;
            object-fit: cover;
        }
    }

    .home-t {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div {
            width: 100%;
            padding: 10px 15px 10px 15px;

            h1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-top: solid 2px black;
                border-bottom: solid 2px black;
            }
        }
    }

    /* aqui se hace el media query de footer */
    .fx-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;

        a {
            text-decoration: underline;
        }

        p {
            margin-top: 5px;
        }
    }

}