.jumbotron {
    // background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/background\ principal.jpg);
    background-size: cover;
    background-position: center;

    h1 {
        color: #000000;
        text-shadow: 0 0 5px black;
        font-size: 60px;
    }
}