body {
    background: rgb(136, 136, 136);
    background: linear-gradient(0deg, rgba(136, 136, 136, 1) 0%, rgba(223, 222, 218, 1) 100%);
}

/* estilo de bloques */
.block-styles {
    border-radius: 5px;
    background-color: $_block-color;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}