/* aqui inicia el footer */
.fx-footer {
    color: black;
    background-color: #97918c;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 5px;

    a {
        color: #e2c0a4;
    }
}

@media screen and (max-width: 600px) {
    /* aqui se hace el media query de footer */
    .fx-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;

        a {
            text-decoration: underline;
        }

        p {
            margin-top: 5px;
        }
    }
}