/* aqui inicia main services */

@media screen and (min-width: 321px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;

        .s1 {
            margin: 20px;
            width: 100%;

            iframe {
                width: 90%;
                height: 100%;
            }
        }

        .s2 {
            margin: 20px 20px 20px 0;

            img {
                padding: 10px;


            }

            .s2-subtitle {
                font-size: 35px;
            }

            p {
                font-size: $fuente-parrafo;
                padding: 15px;
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .services-grid {
        display: grid;
        grid-template-rows: 1fr 3fr;
        height: 1500px;

        .s1 {
            margin: 15px;
            width: 288px;
            height: 250px;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .s2 {
            margin: 0px 15px 15px 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                padding: 10px;
                display: inline-block;
                position: relative;

            }

            .s2-subtitle {
                display: inline-block;
                font-size: 30px;
                position: relative;

            }

            p {
                font-size: $fuente-parrafo;
                padding: 15px;
                text-align: justify;
            }
        }
    }
}