// table
@media screen and (min-width: 321px) {
.tables-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;

    .t-1 {
        margin: 5%;
        height: 50%;

        iframe {
            margin: 10px;
            width: 96%;
            height: 310px;
            border-radius: 5px;
        }

        p {
            padding: 30px;
            text-align: justify;
            font-size: $fuente-parrafo;
        }
    }
    .t-2 {
        margin: 5%;

        .art-margin {
            margin-bottom: 20px;
        }

        article {
            height: auto;

            img {
                width: 100%;
                height: auto;
            }

            p {
                padding: 30px;
                text-align: justify;
                font-size: $fuente-parrafo;
            }
        }
    }
}
}
@media screen and (max-width: 320px) {
    .tables-grid {
        display: grid;
        grid-template-rows: 1fr 2fr;
        // height: auto;
    
        .t-1 {
            margin: 5%;
            height: auto;
    
            iframe {
                margin: 10px;
                width: 94%;
                height: 150px;
                border-radius: 5px;
            }
    
            p {
                padding: 10px;
                text-align: justify;
                font-size: $fuente-parrafo;
            }
        }
        .t-2 {
            margin: 5%;
    
            .art-margin {
                margin-bottom: 20px;
            }
    
            article {
                height: auto;
    
                img {
                    width: 100%;
                    height: auto;
                }
    
                p {
                    padding: 30px;
                    text-align: justify;
                    font-size: $fuente-parrafo;
                }
            }
        }
    }
}